body
    font-family DFPKingGothicGB-Regular,sans-serif
    background #111

.align-center
    display block
    margin 0 auto

.token.keyword
    color #cc99cd

blockquote
    color #73883a
    border-color #73883a
    padding-top .1rem
    padding-bottom .1rem
    font-size 1rem

.go-to-top
    background-color #333
    padding 6px
    border-radius 10px

.vuepress-blog-theme-content
    background #333 !important
    border-radius 10px

.search-box input
    border-radius 55px !important
    color #111 !important
    border-color #111 !important

.post-meta-tags a:after
    background #333 !important

.ui-post
    border-bottom 1px solid #242424 !important

.content-wrapper
    table
        tr:nth-child(2n)
            background-color #2d3032

.suggestions a
    color #111 !important

.mobile-home-link
    color #fff !important

// .content-wrapper
//     padding: 128px 15px 80px 15px;
//     &.full
//         max-width none

::-webkit-scrollbar
    width 10px

::-webkit-scrollbar-track
    background-color #222

::-webkit-scrollbar-thumb
    border-radius 7px
    background-color #646464
