// colors
$accentColor = #73883a

$textColor = #f5f5f5
$darkTextColor = #f5f5f5

// $borderColor = rgba(0,0,0,.05)
// $darkBorderColor = #000

$codeBgColor = #282c34

$headerBgColor = #111


$footerBgColor = #201e1e
$footerColor = #d0cccc

// $newsletterBgColor = #f8f8f8

// layout
// $contentWidth = 740px

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
